<div class="panel panel-primary">
    <div class="panel-heading">
      <div appGreenSectionTitle>{{title}}</div>
    </div>
    <div class="panel-body">
      <p>Cliquez pour voir le tableau des regions</p> 
      <button (click) = " toggle () " id = "bt">
          {{buttonName}}
       </button>
       <ng-container *ngIf = "show">
          <div style="margin: 0 auto;text-align: left;">
            <table class="table table-striped">  
              <thead>
                <tr>
                  <th style="text-align: center;">Id région</th>
                  <th style="text-align: center;">Nom</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let region of regions">
                  <td style="text-align: center;">{{region.id}}</td>
                  <td style="text-align: center;">{{region.nom|autoCode}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-container>
</div>


