<form [formGroup]="profileForm" >
    <label> First Name:
    <input type="text" formControlName ="prenom" >
    </label>
    <label> Last Name:
    <input type="text" formControlName ="nom" >
    </label>
</form>
<input type="text" formControlName ="firstName">
    
